@model List<BasketItemDisplayResponse>

@{
    var columnCount = 0;
}

<div class="row m-4">
    @foreach (var productDisplay in Model)
    {
        @if (columnCount != 0 && columnCount % 3 == 0)
        {
            @:</div><div class="row m-4">
        }

        <div class="col-4">
            <partial name="_BasketProductsDisplay" model="productDisplay" />
        </div>
            
        columnCount++;
    }
</div>