@model UserRegisterModel

<form asp-action="Register">
    <input asp-for="UserName" placeholder="Kullanıcı Adı" /><br />
    <input asp-for="Password" placeholder="Şifre" /><br />
    <input asp-for="BirthDate"/><br />
    <button type="submit">Gönder</button>
</form>

