@model IEnumerable<ProductDisplayResponse>

@{
    Layout = "_Layout";
}

<div class="text-center bg-warning">
    <h5 class="p-2">@ViewBag.NavigationInfo</h5>
</div>

<div class="row">
    <div class="col-4">
        @await Component.InvokeAsync("FilterMenu", new {model = ViewBag.ProductModelForFilterMenu})
    </div>

    <div class="col-8">
        @await Component.InvokeAsync("ProductList", new {model = Model})
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {

            $('.basket').on('click', function () {
                let id = $(this).data('id');
                $.ajax({
                    url: '/Shopping/AddProduct/' + id,
                    type: 'GET',
                    success: function (data) {
                        console.log(data)
                        $('.toast-body').text(data.message);
                        //const toastLiveExample = document.getElementById('liveToast');
                        //const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
                        //toastBootstrap.show();
                        alertify.success(data.message);
                        //location = location;

                    },
                    error: function (err) {
                        console.log('hata', error);
                    }
                });
            });
        });
    </script>
}