@model IEnumerable<CampaignDisplayResponse>

@{
    var slideCount = 1;
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @foreach (var campaign in Model)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="@(slideCount == 1 ? "active" : "")"></li>
        }
        
    </ol>
    <div class="carousel-inner">
        @foreach (var campaign in Model)
        {
            <div class="carousel-item @(slideCount == 1 ? "active" : "")">
                <img class="d-block w-100" src="@campaign.ImageUrl">
            </div>
            slideCount++;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>